body {
  font-size: 16px;
  color: #2a2a2a;
  background-color: #fff;
}

.file-image {
  display: block;
  width: 20%;
}

input[type="text"] {
 border-radius: 0;
 padding-left: .5rem;
 width: 30%;
 border: 1px solid #cbcbcb;
 height: 2rem;
 font-size: 16px;
}

input[type="submit"] {
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #2a2a2a;
  color: white;
  outline: none;
  padding: .5rem;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;
}

textarea {
  border-radius: 0;
  padding: .5rem;
  width: 30%;
  border: 1px solid #cbcbcb;
  display: block;
  font-size: 16px;
  color: #2a2a2a;
}

textarea.about-textarea {
  width: 70%;
}

label {
  display: block;
  padding: 1rem 1rem 1rem 0;
}

h3 {
  padding: 0;
}

button {
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  margin-right: 1.3rem !important;
  background-color: #2a2a2a;
  color: white;
  outline: none;
  padding: .5rem .8rem;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;
}

button.photo-submit {
  display: block;
  margin: 1rem 0;
}

input[type="submit"].form-submit {
  margin-bottom: 50px;
}

.cancel-button {
  position: relative;
  top: -50px;
  left: 85px;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  margin-right: 1rem !important;
  background-color: #2a2a2a;
  color: white;
  outline: none;
  padding: .5rem .8rem;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;
}

.manage-header-image-h3 {
  padding-bottom: 1rem;
}

/* tab styles */

.tab-wrapper {
  position: relative;
  top: 0;
  padding-left: 15.5rem;
}

.admin-ul {
  position: absolute;
  left: 0;
  top: 4rem;
  bottom: 0;
  list-style: none;
  line-height: 2;
  font-size: 18px;
  padding: 0;
  width: 15.5rem;
}

.admin-ul li {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  padding-left: 3.5rem;
}

#first-tab {
  display: block;
  width: 100%;
  background-color: #f7f7f7;
  min-height: 900px;
}

.tab {
  display: none;
  padding: 3rem 0 3rem 3rem;
  background-color: #f7f7f7;
  min-height: 900px;
}

.li-background {
  background-color: #2222;
}

.admin-header h2 {
  margin: 0;
}

.admin-header {
  margin: 0;
  padding: 1rem 0 .5rem 2rem;;
  background-color: #2222;
}

.admin-header h3 {
  padding: 0;
  color: #555;
}

@media (min-width: 320px) and (max-width: 645px) {
  .tab-wrapper {
    position: static;
    top: 0;
    padding-left: 0;
  }

  .admin-ul {
    position: static;
    list-style: none;
    line-height: 2;
    font-size: 18px;
    width: 100%;
    overflow: hidden;
  }

  .admin-ul li {
    padding-left: 3rem;
  }

  .file-image {
    width: 90%;
  }

  input[type="text"] {
    width: 90%;
  }

  textarea {
    width: 90%;
  }

  textarea.about-textarea {
    width: 90%;
  }

}
