.footer-wrap {
    color: #2a2a2a;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 55px 0 80px;
}

.footer-button-one:hover {
  text-decoration: underline;
  cursor: pointer;
}
