.footer-button-one {
    margin: 0 auto;
    display: block;
    padding: 55px 0 0 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #2a2a2a;
}

.footer-button-two {
    margin: 0 auto;
    display: block;
    padding: 10px 0 80px 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #2a2a2a;
}

.footer-button-two a {
  text-decoration: none;
  color: #2a2a2a;
}
