.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    background-color: #fff;
    transition: all .5s ease-out;
}

.header-h2 {
    display: inline-block;
    margin: 0;
    padding: 2rem 0 2rem 0;
    margin-left: 5%;
    color: #000;
}

.header-button {
  float: right;
  margin-right: 5%;
  margin-top: 1rem;
  padding: .2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

.header-button:hover {
  text-decoration: underline;
  color: #ed1b24;
}

#res-container{
  position: relative;
}

button.header-button-x {
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
}

button.header-button-x:hover {
  color: #ed1b24;
}

button.header-button-x .fa-times {
  /*position: absolute;*/
  top: -5px;
  right: 0px;
  font-size: 30px;
}

button.header-button-x-bottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
}

button.header-button-x-bottom:hover {
  color: #ed1b24;
}

button.header-button-x-bottom .fa-times {
  /*position: absolute;*/
  bottom: 0px;
  right: 0px;
  font-size: 30px;
}

.header-p{
  float: right;
  clear: both;
  margin-top: .5rem;
  margin-right: 5%;
  font-weight: bold;
}

.header-p a {
  text-decoration: none;
  color: #000;
}

.header-p a:hover {
  text-decoration: underline;
  color: #ed1b24;
}

.subheader {
    padding: 9rem 5% 4rem 5%;;
    background-color: #fff;
}

.subheader-p {
    text-align: center;
}

.subheader-h2 {
    text-align: center;
    padding: 0 5% 0 5%;
}

.head-collapse {
    transition: all .5s ease-out;
    top: -95px;
}

#resume {
  display: none;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-width: 40rem;
}

#inner-rel{
  z-index: 2;
  margin: 0 auto;
  padding: 2rem 2rem 4rem 2rem;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  max-width: 40rem;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 15px 1px #333333;
  line-height: 1.5rem;
}

#resume-wrapper {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333333;
  opacity: .7;
}

.res-url {
  text-decoration: underline;
  font-weight: bold;
}

.res-url:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #ed1b24;
}

.footer-button-res {
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #2a2a2a;
    font-weight: bold;
    font-size: 18px;
}

.footer-button-res a {
  text-decoration: none;
  color: #2a2a2a;
}

.footer-button-res a:hover {
  text-decoration: underline;
  color: #ed1b24;
}

#remove-p-margin p, #remove-p-margin h2, #remove-p-margin h3, #remove-p-margin h4 {
    margin: 0;
}

@media (min-width: 481px) and (max-width: 675px) {
    .header-h2 {
      font-size: 20px;
    }

    .header-button {
      font-size: 14px;
    }

    .header-p {
      font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 645px) {
    .subheader-p {
        font-size: 14px;
        padding: 0 1rem 0 1rem;
    }

    .subheader {
        padding: 7rem 0rem 1rem 0;
        background-color: #fff;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header-h2 {
      display: block;
      font-size: 20px;
      padding: 20px 0 0 0;
      margin-left: 20px;
    }

    .header-button {
      display: block;
      float: none;
      font-size: 14px;
      margin-left: 20px;
      margin-top: 10px;
      padding-left: 0;
    }

    .header-p {
      display: block;
      float: none;
      font-size: 14px;
      margin-left: 20px;
      margin-top: 10px;
    }

}

@media (min-width: 400px) and (max-width: 645px) {

  #resume-wrapper {
    opacity: 1;
  }

}

@media (min-width: 320px) and (max-width: 399px) {

  #resume-wrapper {
    opacity: 1;
  }

}
