.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    background-color: #fff;
    transition: all .5s ease-out;
}

.header-h2 {
    display: inline-block;
    margin: 0;
    padding: 2rem 0 2rem 0;
    margin-left: 5%;
    color: #000;
}

.header-button {
  float: right;
  margin-right: 5%;
  margin-top: 1rem;
  padding: .2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

.header-button-x {
  float: right;
  margin-right: 5%;
  margin-top: 1rem;
  padding: .2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
}

.header-p{
  float: right;
  clear: both;
  margin-top: .5rem;
  margin-right: 5%;
  font-weight: bold;
}

.header-p a {
  text-decoration: none;
  color: #000;
}

.subheader {
    padding: 9rem 5% 4rem 5%;;
    background-color: #fff;
}

.subheader-p {
    text-align: center;
}

.subheader-h2 {
    text-align: center;
    padding: 0 5% 0 5%;
}

.head-collapse {
    transition: all .5s ease-out;
    top: -95px;
}

#resume {
  display: none;
  z-index: 2;
  margin: 0 auto;
  padding: 2rem;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-width: 40rem;
  height: 100rem;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 15px 1px #333333;
}

#resume-wrapper {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333333;
  opacity: .7;
}

.fa-times {
  position: relative;
  top: -50px;
  right: -20px;
  font-size: 30px;
}

@media (min-width: 481px) and (max-width: 675px) {
    .header-h2 {
      font-size: 20px;
    }

    .header-button {
      font-size: 14px;
    }

    .header-p {
      font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 645px) {
    .subheader-p {
        font-size: 14px;
        padding: 0 1rem 0 1rem;
    }

    .subheader {
        padding: 7rem 0rem 1rem 0;
        background-color: #fff;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header-h2 {
      display: block;
      font-size: 20px;
      padding: 20px 0 0 0;
      margin-left: 20px;
    }

    .header-button {
      display: block;
      float: none;
      font-size: 14px;
      margin-left: 20px;
      margin-top: 10px;
      padding-left: 0;
    }

    .header-p {
      display: block;
      float: none;
      font-size: 14px;
      margin-left: 20px;
      margin-top: 10px;
    }

}
